.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: .4);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    background-color: #ccc;
}